C 0 0 "GND" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "NC_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CSO" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CSO" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NC_2" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NC_2" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VDD" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "BSTA" 0 -500 0 0 60 0 L
X "PIN_TEXT" "BSTA" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SHA" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SHA" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "GHA" 0 -700 0 0 60 0 L
X "PIN_TEXT" "GHA" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 300 -1300 "GLA" 300 -1300 0 0 60 0 L
X "PIN_TEXT" "GLA" 330 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1100 300 -1300 -1 0
C 400 -1300 "BSTB" 400 -1300 0 0 60 0 L
X "PIN_TEXT" "BSTB" 430 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1100 400 -1300 -1 0
C 500 -1300 "SHB" 500 -1300 0 0 60 0 L
X "PIN_TEXT" "SHB" 530 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1100 500 -1300 -1 0
C 600 -1300 "GHB" 600 -1300 0 0 60 0 L
X "PIN_TEXT" "GHB" 630 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1100 600 -1300 -1 0
C 700 -1300 "GLB" 700 -1300 0 0 60 0 L
X "PIN_TEXT" "GLB" 730 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1100 700 -1300 -1 0
C 800 -1300 "BSTC" 800 -1300 0 0 60 0 L
X "PIN_TEXT" "BSTC" 830 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1100 800 -1300 -1 0
C 1200 0 "HSC" 1200 0 0 0 60 0 R
X "PIN_TEXT" "HSC" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "LSA" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "LSA" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "LSB" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "LSB" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "LSC" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "LSC" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 1200 -400 "LSS" 1200 -400 0 0 60 0 R
X "PIN_TEXT" "LSS" 970 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -400 1200 -400 -1 0
C 1200 -500 "GLC" 1200 -500 0 0 60 0 R
X "PIN_TEXT" "GLC" 970 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -500 1200 -500 -1 0
C 1200 -600 "GHC" 1200 -600 0 0 60 0 R
X "PIN_TEXT" "GHC" 970 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -600 1200 -600 -1 0
C 1200 -700 "SHC" 1200 -700 0 0 60 0 R
X "PIN_TEXT" "SHC" 970 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -700 1200 -700 -1 0
C 300 700 "EP" 300 700 0 0 60 0 R
X "PIN_TEXT" "EP" 330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 300 500 300 700 -1 0
C 400 700 "DT" 400 700 0 0 60 0 R
X "PIN_TEXT" "DT" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "NC_3" 500 700 0 0 60 0 R
X "PIN_TEXT" "NC_3" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "NSLEEP" 600 700 0 0 60 0 R
X "PIN_TEXT" "NSLEEP" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "NFAULT" 700 700 0 0 60 0 R
X "PIN_TEXT" "NFAULT" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "HSA" 800 700 0 0 60 0 R
X "PIN_TEXT" "HSA" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
C 900 700 "HSB" 900 700 0 0 60 0 R
X "PIN_TEXT" "HSB" 930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 900 500 900 700 -1 0
L 200 500 1000 500 -1 0
L 1000 -1100 1000 500 -1 0
L 1000 -1100 200 -1100 -1 0
L 200 500 200 -1100 -1 0
P "$LOCATION" "?" 1050 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

