C 0 0 "GND" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VIN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "EN/UVLO" 0 -200 0 0 60 0 L
X "PIN_TEXT" "EN/UVLO" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "RON" 0 -300 0 0 60 0 L
X "PIN_TEXT" "RON" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 700 -800 "EP" 700 -800 0 0 60 0 L
X "PIN_TEXT" "EP" 730 -570 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -600 700 -800 -1 0
C 1400 0 "SW" 1400 0 0 0 60 0 R
X "PIN_TEXT" "SW" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "BST" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "BST" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "PGOOD" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "PGOOD" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "FB" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "FB" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
L 200 100 1200 100 -1 0
L 1200 -600 1200 100 -1 0
L 1200 -600 200 -600 -1 0
L 200 100 200 -600 -1 0
P "$LOCATION" "?" 1250 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

